<head>
    <title>home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <% moviesData.forEach(function(chunk){ %>
    <div class="row">
        <% for (var key in chunk) { %>
        <div class="col-md-4">
            <div class="card">
                <img width="200px;" height="200px;" class="card-img-top" alt="Bootstrap Thumbnail First"
                     src="<%= chunk[key].movie.Poster == 'N/A' ? 'https://via.placeholder.com/350x350' : chunk[key].movie.Poster %>">
                <div class=" card-block">
                    <h4 class="card-title">
                        <%= chunk[key].movie.Title %>
                    </h4>
                    <p>
                        <a href="/item/<%= chunk[key].movie.imdbID %>" title="Details" class="btn btn-danger">
                            Details
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% }); %>
</div>
</body>
<style>
    .btn-facebook {
        background: #3B5998;
        border-radius: 0;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #263961;
    }

    .btn-facebook:link, .btn-facebook:visited {
        color: #fff;
    }

    .btn-facebook:active, .btn-facebook:hover {
        background: #263961;
        color: #fff;
    }

    .btn-twitter {
        background: #3B5998;
        border-radius: 0;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #263961;
    }

    .btn-twitter:link, .btn-twitter:visited {
        color: #3B5998;
    }

    .btn-twitter:active, .btn-twitter:hover {
        background: #3B5998;
        color: #3B5998;
    }
</style>